<div class="container registration">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">sign up.</h3>

      <form class="login-form" action="/users" method="post">
        <p class="errors">
          <% if params[:errors] != nil %>
            Oops! <%=params[:errors] %>
          <% end %>
        </p>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="first name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="last name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="create a username">
        </div>
        <div class="form-group">
         <input class="form-control" type="password" placeholder="create a password">
       </div>
       <div class="form-group">
         <input class="form-control" type="email" placeholder="okay@example.com">
       </div>
       <input type="submit" class="btn btn-default login-button center-block" value="Register">
     </form>
   </div>
 </div>
</div>
